<header>
    <h1 id="nav-title">MENSCHAT</h1>
    <nav>
        <ul>
            <li><a href="/filmes">Grupos</a></li>
            <li><a href="/login.html">login</a></li>
            <li><a href="/filmes/cadastrar">Cadastrar</a></li>
        </ul>
    </nav>
</header>